# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):

# Compiled Object files
*.slo
*.lo
*.o
*.a
*.d
*.m
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la

*~
*.hex
*.h88
*.H88
*.asm
*.lst
*.map
*.il?
*.bin
*.tds
*.log
*.ful
*.xme
*.pdom
*.bak
*.~*
*.dsk
*.swp
*.lss
*.elf
*.sym
*.drc
*.exe
*.pdf
*.out
*.app
*.tmp
*.cgl
*.txt
*.bmp
*.doc
*.jpg
*.png
*.lng

# Zipped files:

*.7z
*.zip
*.gzip
*.rar

#audio files:

*.mp3
*.wav
/ken/
*.lint
